*{
   margin: 0px;
   padding: 0px;
}
/* 
p{
    color: blue;
    font-weight: bold;
} */

/* #home{
    background-color: teal;
    color: white;

}

.village{
    color: red;
    font-weight: bolder;
} */

/* #container p{
    color: teal;
}

input[type="text"]{
    color: blueviolet;
}
input[type="number"]{
    color: red;
}

#parent >p{
    color: gold;
} */

/* .about>h2+span{
    color: brown;
} */

/* .payment h2~span{
    color: blue;
}

.about h2:nth-child(3){
    color: green;
    background-color: aquamarine;
}
#test:hover{
    color: red;
}

#email:focus{
    border: violet;
    color: red;
} */

/* .abhisek{
    background-color: teal;
    padding: 15px 40px 0px 50px;
    border: 2px solid red;
    margin: 2px 4px 8px 16px;
    text-align: center;
}
.rajan{
    background-color: gold;
} */

